@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
  --font-family: 'Barlow Semi Condensed', sans-serif;

  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(0, 0%, 81%);
  --Light-grayish-blue: hsl(210, 46%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Light-grayish-blue);
  height: 100vh;
}

.container-grid {
  display: grid;
  max-width: 1440px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "section-1 section-1 section-2 section-5"
    "section-3 section-4 section-4 section-5";
  gap: 30px;
  margin: 10px;
}

.section-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: var(--font-family);
  border-radius: 12px;
  padding: 35px 56px;
}

.perfil {
  display: flex;
  align-items: center;
}

.perfil p {
  color: var(--Light-grayish-blue);
  font-weight: 400;
  font-size: 14px;
  margin-left: 20px;
  margin-bottom: 15px;
}

span {
  display: block;
  color: var(--Light-grayish-blue);
  opacity: 70%;
}
.perfil-dark p {
  color: var(--Very-dark-grayish-blue);
}

.perfil-dark span {
  color: var(--Very-dark-grayish-blue);
}

.img-config {
  border-radius: 50%;
  border: 3px solid #A775F1;
  width: 45px;
  height: 45px;
  margin-bottom: 15px;
}

.section-1 {
  grid-area: section-1;
  background: var(--Moderate-violet) url('../images/bg-pattern-quotation.svg') no-repeat top 0px right 145px / 120px 135px;
}

.img-1 {
  background: url('../images/image-daniel.jpg') no-repeat  center/cover;
}

.section-2 {
  background-color: var(--Very-dark-grayish-blue);
  grid-area: section-2;
}

.img-2 {
  background: url('../images/image-jonathan.jpg') no-repeat center/cover;
}

.section-3 {
  background-color: var(--White);
  grid-area: section-3;
}

.img-3 {
  background: url('../images/image-jeanette.jpg') no-repeat center/cover;
}

.section-4 {
  grid-area: section-4;
  background-color: var(--Very-dark-blackish-blue);
}

.img-4 {
  background: url('../images/image-patrick.jpg') no-repeat center/cover;
}

.section-5 {
  grid-area: section-5;
  background-color: var(--White);
}

.img-5 {
  background: url('../images/image-kira.jpg') no-repeat center/cover;
}

h1 {
  color: var(--White);
  font-weight: 600;
  margin-bottom: 10px;
}

.h1-dark {
  color: var(--Very-dark-grayish-blue);
}

.first-p-dark {
  color: var(--Very-dark-grayish-blue);
  font-weight: 600;
  font-size: 25px;
}

blockquote {
  font-size: 16px;
  color: var(--Light-gray);
  line-height: 1.5em;
  margin-top: 10px;
}

.blockquote-dark {
  color: var(--Very-dark-grayish-blue);
}

.attribution {
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 11px;
  color: black;
  text-align: center;
  margin-top: 15px;
}

a {
  color: blue;
}

a:visited {
  color: purple;
}

@media screen and (max-width: 1267px) {
  .container {
    height: 100%;
  }

  .container-grid {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 10px;
  }
  
  .section-box {
    padding: 35px 56px;
    width: 700px;
  }
}


