@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
  --font: 'Karla', sans-serif;

  --Cyan: hsl(179, 62%, 43%);
  --Bright-Yellow: hsl(71, 73%, 54%);

  --Light-Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  display: grid;
  max-width: 1440px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "join join"
  "price why-us";
}

.join {
  grid-area: join;
  border: 1px solid black;
}

.price {
  grid-area: price;
  border: 1px solid black;
  width: 450px;
}

.why-us {
  grid-area: why-us;
  border: 1px solid black;
  width: 450px;
}