@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --cor0: hsl(225, 100%, 94%);
    --cor1: hsl(245, 75%, 52%);
    --cor2: hsl(225, 100%, 98%);
    --cor3: hsl(224, 23%, 55%);
    --cor4: hsl(223, 47%, 23%);

    --font: 'Red Hat Display', sans-serif;
}

body {
    background-color: var(--cor0);
}

.container {
    display: flex;
    flex-direction: column;
    width: 98vw;
    height: 96vh;
}

main {
    margin: auto;
    width: 460px;
    height: 700px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.301);
    background-color: white;
}

.illustration-hero img {
    width: 460px;
    height: 230px;
    border-radius: 20px 20px 0 0;
}

h1 {
    font-family: var(--font);
    font-weight: 900;
    color: var(--cor4);
    margin-top: 40px;
    text-align: center;
}

p {
    font-family: var(--font);
    font-size: 18px;
    color: var(--cor3);
    margin-top: 20px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 1.5em;
}

.plan {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    width: 360px;
    height: 100px;
    border-radius: 12px;
    background-color: var(--cor2);
    margin: auto;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-evenly;
    align-items: center;
}

.plan div:nth-child(2) p {
    margin: auto;
    color: var(--cor4);
    font-weight: 900;
    margin-left: -70px;
}

span {
    font-weight: 500;
    color: var(--cor3);
}

.plan div:nth-child(3) {
    font-family: var(--font);
    color: var(--cor1);
    font-weight: 900;
    text-decoration: underline;
}

.plan div:nth-child(3):hover {
    text-decoration: none;
    color: hsla(245, 75%, 52%, 0.705);
    cursor: pointer;
}

#payment {
    margin: auto;
    margin-top: 40px;
    width: 360px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--cor1);
    border-radius: 12px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

#payment:hover {
    background-color: hsla(245, 75%, 52%, 0.705);
    cursor: pointer;
}

p#cancel {
    font-size: 16px;
    font-weight: 700;
}

p#cancel:hover {
    color: var(--cor4);
    cursor: pointer;
    font-weight: 900;
}

@media (max-width: 500px) {
    main {
        width: 365px;
        height: 650px;
        border-radius: 20px;
    }

    .illustration-hero img {
        width: 365px;
        height: 180px;
        border-radius: 20px 20px 0 0;
    }
    
    h1 {
        margin-top: 30px;
    }

    p {
        padding-left: 30px;
        padding-right: 30px;
        line-height: 1.5em;
    }

    .plan {
        width: 310px;
        height: 90px;
        margin-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .plan div:nth-child(2) p {
        margin-left: -50px;
    }

    #payment {
        width: 310px;
        margin-top: 30px;
    }

    p#cancel {
        padding-top: 20px;
    }
}

.attribution { 
    padding-top: 10px;
    font-size: 11px; 
    margin: auto; 
}
.attribution a {
     color: hsl(228, 45%, 44%);
}

