@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);

    --font: 'Kumbh Sans', sans-serif;
}

.container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: var(--Dark-cyan);
}

#pattern-top {
    position: fixed;
    left: -11%;
    top: -50%;
}

#pattern-bottom {
    position: fixed;
    left: 50%;
    top: 53%;
}

main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 400px;
    height: 500px;
    border-radius: 12px;
}

header img:nth-child(1) {
    width: 400px;
    height: 170px;
    border-radius: 12px 12px 0 0;
}

header img:nth-child(2) {
    position: absolute;
    left: 37%;
    top: 24%;
    border: 3px solid white;
    border-radius: 50%;
}

section.name p {
    font-family: var(--font);
    margin-top: 90px;
    text-align: center;
    font-size: 18px;
    color: var(--Very-dark-desaturated-blue);
    font-weight: 700;
    padding-left: 130px;
    padding-right: 130px;
    word-spacing: 3px;
    line-height: 2em;
}

span {
    color: var(--Dark-gray);
    font-weight: 400;
} 

hr {
    border: 1px solid hsla(0, 0%, 59%, 0.356);
    margin-top: 20px;
}

.status {
    display: flex;
    width: 400px;
    height: 137px;
    justify-content: space-evenly;
    align-items: center;
}

.status p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font);
    font-weight: 700;
    color: var(--Very-dark-desaturated-blue);
    font-size: 18px;
}

.status p span {
    font-family: var(--font);
    font-size: 12px;
    letter-spacing: 2px;
}

.attribution {
    position: fixed;
    font-size: 11px;
    width: 100%;
    text-align: center;
    bottom: 0%;
}