@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);

    --font: 'League Spartan', sans-serif; 
} 

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.top {
    position: fixed;
}

.bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    top: 100px;
}

.container {
    margin: auto;
    text-align: center;
    max-width: 375px;
    padding: 20px;
}

h1 {
    font-family: var(--font);
    color: var(--Very-Dark-Magenta);
    font-weight: 700;
    font-size: 3em;
    margin-top: 50px;
}

header p {
    margin-top: 25px;
    font-size: 17px;
    font-family: var(--font);
    color: var(--Dark-Grayish-Magenta);
    font-weight: 500;
    line-height: 1.4em;
    padding-right: 7px;
    padding-left: 7px;
}

aside {
    margin-top: 25px;
}

img {
    margin-right: 8px;
}

.review {
    background-color: var(--Light-Grayish-Magenta);
    padding: 15px 20px;
    border-radius: 12px;
    margin-bottom: 15px;
    color: var(--Very-Dark-Magenta);
    font-family: var(--font);
    font-weight: 700;
}

.guru {
    background-color: var(--Light-Grayish-Magenta);
    padding: 15px 20px;
    margin-bottom: 15px;
    border-radius: 12px;
    color: var(--Very-Dark-Magenta);
    font-family: var(--font);
    font-weight: 700;
}

.besttech {
    background-color: var(--Light-Grayish-Magenta);
    padding: 15px 20px;
    border-radius: 12px;
    color: var(--Very-Dark-Magenta);
    font-family: var(--font);
    font-weight: 700;
}

section {
    margin-top: 50px;
}

section div img {
    border-radius: 50%;
    width: 55px;
    height: 55px;
}

section div {
    display: flex;
    flex-wrap: wrap;
    padding: 35px;
    align-items: center;
    text-align: left;
    height: 250px;
    background-color: var(--Very-Dark-Magenta);
    border-radius: 12px;
    font-family: var(--font);
    font-size: 17px;
    color: white;
    margin-bottom: 20px;
}

p {
    align-self: center;
    line-height: 1.4em;
    margin-top: 15px;
}

.padding-p {
    padding-left: 20px;
}

span {
    display: block;
    color: var(--Soft-Pink);
 }

 .smith {  
    padding-right: 30px;
}

.roberts {
    align-self: center;
    padding-right: 40px;
}

.attribution {
    width: 100%;
    font-size: 11px;
    text-align: center;
}