@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);

    --font: 'League Spartan', sans-serif; 
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40vh 40vh;
    justify-items: center;
    align-items: center;
    padding: 150px;
    height: 100%;
}

h1 {
    font-family: var(--font);
    color: var(--Very-Dark-Magenta);
    font-size: 3.5em;
    text-shadow: 1px 1px 2px var(--Very-Dark-Magenta);
    padding-right: 300px;
}

header p {
    margin-top: 25px;
    font-size: 20px;
    font-family: var(--font);
    color: var(--Dark-Grayish-Magenta);
    font-weight: 500;
    padding-right: 170px;
    line-height: 1.2em;
}

aside {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.review {
    background-color: var(--Light-Grayish-Magenta);
    width: 350px;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 15px;
    align-self: flex-start;
}

.guru {
    background-color: var(--Light-Grayish-Magenta);
    text-align: center;
    padding: 15px;
    width: 350px;
    align-self: center;
    margin-bottom: 15px;
}

.besttech {
    text-align: center;
    background-color: var(--Light-Grayish-Magenta);
    padding: 15px;
    width: 350px;
    align-self: flex-end;
}

section {
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 3;
}