@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray-background-headings-buttons: hsl(0, 0%, 95%);

    --font0: 'Lexend Deca', sans-serif;
    --font1: 'Big Shoulders Display', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: grid;
    width: 100%;
    height: 98vh;
    justify-content: center;
    align-content: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

header {
    padding-top: 50px;
}

.sedans {
    background-color: var(--Bright-orange);
    width: 350px;
    height: 550px;
    padding-left: 60px;
    padding-right: 80px;
    border-radius: 5px 0 0 5px;
}

.suvs {
    background-color: var(--Dark-cyan);
    width: 350px;
    height: 550px;
    padding-left: 60px;
    padding-right: 80px;
}

.luxury {
    background-color: var(--Very-dark-cyan);
    width: 350px;
    height: 550px;
    padding-left: 60px;
    padding-right: 70px;
    border-radius: 0 5px 5px 0;
}

h1 {
    font-family: var(--font1);
    font-size: 2.3em;
    color: var(--Very-light-gray-background-headings-buttons);
    text-transform: uppercase;
    padding-top: 30px;
}

p {
    font-family: var(--font0);
    font-size: 15px;
    color: var(--Transparent-white-paragraphs);
    padding-top: 30px;
    line-height: 1.8em;
}

.button p {
    background-color: var(--Very-light-gray-background-headings-buttons);
    border-radius: 50px;
    text-align: center;
    margin-top: 120px;
    width: 180px;
    padding: 15px;
}

#sedan {
    color: var(--Bright-orange);
}

.button p#sedan:hover {
    background-color: var(--Bright-orange);
    color: var(--Very-light-gray-background-headings-buttons);
    cursor: pointer;
    border: 2px solid white;
}

#suv {
    color: var(--Dark-cyan);
}

.button p#suv:hover {
    background-color: var(--Dark-cyan);
    color: var(--Very-light-gray-background-headings-buttons);
    cursor: pointer;
    border: 2px solid white;
}

#luxu {
    color: var(--Very-dark-cyan);
}

.button p#luxu:hover {
    background-color: var(--Very-dark-cyan);
    color: var(--Very-light-gray-background-headings-buttons);
    cursor: pointer;
    border: 2px solid white;
}

.attribution {
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align: center;
    font-size: 11px;
}

.attribution a {
    color: blue;
}

@media (max-width: 1155px) {
    .sedans {
        width: 300px;
        padding-left: 40px;
        padding-right: 50px;
    }

    .suvs {
        width: 300px;
        padding-left: 40px;
        padding-right: 50px;
    }

    .luxury {
        width: 300px;
        padding-left: 40px;
        padding-right: 50px;
    }

    .button p {
        margin-top: 95px;
    }
}

@media (max-width: 995px) {
    .sedans {
        width: 250px;
        padding-left: 20px;
        padding-right: 19px;
    }

    .suvs {
        width: 250px;
        padding-left: 20px;
        padding-right: 19px;
    }

    .luxury {
        width: 250px;
        padding-left: 20px;
        padding-right: 19px;
    }

    .button p {
        margin-top: 95px;
    }
}

@media (max-width: 840px) {
    main {
        grid-template-columns: 1fr;
        height: 95vh;
    }

    .sedans {
        width: 350px;
        height: 450px;
        padding-left: 40px;
        padding-right: 80px;
        border-radius: 5px 5px 0 0;
    }

    .suvs {
        width: 350px;
        height: 450px;
        padding-left: 30px;
        padding-right: 80px;
    }

    .luxury {
        width: 350px;
        height: 450px;
        margin-bottom: 40px;
        padding-left: 30px;
        padding-right: 90px;
        border-radius: 0 0 5px 5px;
    }

    .button p {
        margin-top: 30px;
    }
}


