@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --cor0: hsl(215, 51%, 70%);
    --cor1: hsl(178, 100%, 50%);
    --cor2: hsl(217, 54%, 11%);
    --cor3: hsl(216, 50%, 16%);
    --cor4: hsl(215, 32%, 27%);
    --cor5: hsl(0, 0%, 100%);

    --font: 'Outfit', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor2);
}

.container {
    width: 100vw;
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 600px;
    border-radius: 20px;
    background-color: var(--cor3);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.233);
}

.view {
    position: absolute; 
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin-top: 23px;
}

.view:hover {
    background-image: url("../images/icon-view.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: hsla(178, 100%, 50%, 0.507);
    cursor: pointer;
}

img {
    border-radius: 20px;
    margin-top: 23px;
    width: 300px;
    height: 300px;
}

h1 {
    padding-left: 27px;
    font-size: 1.4em;
    margin-top: 20px;
    font-family: var(--font);
    font-weight: 600;
    color: var(--cor5);
}

h1:hover {
    color: var(--cor1);
    cursor: pointer;
}

p {
    font-family: var(--font);
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
    color: var(--cor0);
    padding-left: 27px;
    padding-right: 27px;
    margin-top: 20px;
}

.eth {
    display: flex;
    justify-content: space-evenly;
}

div.eth > p:nth-child(1) {
    display: flex;
    align-items: center;
    padding-right: 42px;
    color: var(--cor1);
    font-weight: 400;
}

div.eth > p:nth-child(2) {
    display: flex;
    align-items: center;
    font-weight: 300;
    padding-left: 42px;
}

svg {
    margin-right: 10px;
}

hr#line {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
    border: 1px solid var(--cor4);
}

.avatar {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.img-avatar {
    width: 40px;
    height: 40px;
}

span {
    color: var(--cor5);
}

span:hover {
    color: var(--cor1);
    cursor: pointer;
}

footer {
    text-align: center;
    color: var(--cor5);
}

a {
    color: var(--cor1);
}